@model Recipes.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Recipe Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.TimeToMake)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.TimeToMake)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Healthy)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.Healthy)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.DietaryRequirements)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.DietaryRequirements)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Servings)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.Servings)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.Ingredients)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Method)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.Method)
        </dd>
    </dl>
</div>
<div class="d-flex">
    <div>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-chevron-left"></i> Back</a>
    </div>
    <div class="ms-5">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</i></a>
    </div>
    <div class="ms-5">
    <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Delete</i></a>
    </div>
</div>
