@model Recipes.Models.RecipeDifficultyDietaryRequirementsViewModel

@{
    ViewData["Title"] = "Index";
}

<h4 class="mt-4">Recipes</h4>

<form asp-controller="Recipes" asp-action="Index" method="get">

    <p>
        <div class="d-flex pt-2">

            <p class="pe-5">
                <a asp-action="Create" class="btn btn-success">
                    <i class="bi bi-plus-lg"></i> Create New
                </a>
            </p>

            <div class="ps-5">
                <select asp-for="RecipeDifficulty" asp-items="Model.Difficulties" class="form-select">
                    <option value="" class="dropdown-item disabled">Difficulty</option>
                </select>
            </div>

            <div class="ps-3">
                <select asp-for="RecipeDietaryRequirements" asp-items="Model.DietaryRequirements" class="form-select">
                    <option value="" class="dropdown-item disabled">Dietary Requirements</option>
                </select>
            </div>

            <div class="ps-3">
                <input type="text" name="SearchString" class="form-control" placeholder="Search Recipe" />
            </div>

            <div class="ps-4">
                <input type="submit" value="Filter" class="btn btn-secondary my-2 my-sm-0" />
            </div>

        </div>
    </p>
</form>

<div class="d-flex flex-wrap justify-content-evenly">

    @foreach (var item in Model.Recipes)
    {
        <a asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none" style="color: black">
            <div class="card mb-4" style="width: 22rem;">
                <img src="images/photo1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <div class="d-flex justify-content-evenly">
                        <p class="card-text"><img src="https://img.icons8.com/material-outlined/24/000000/clock--v1.png" /> @Html.DisplayFor(modelItem => item.TimeToMake)</p>
                        <p class="card-text"><img src="https://img.icons8.com/plumpy/24/000000/medium-connection.png" /> @Html.DisplayFor(modelItem => item.Difficulty)</p>
                    </div>
                    <div class="d-flex justify-content-evenly">
                        @if (item.Healthy == true)
                        {
                            <p class="card-text"><img src="https://img.icons8.com/material-outlined/24/000000/heart-health.png" /> Healthy</p>
                        }
                        @if (item.DietaryRequirements != "None")
                        {
                            <p class="card-text"><img src="https://img.icons8.com/material-outlined/24/000000/vegan-food.png" /> @Html.DisplayFor(modelItem => item.DietaryRequirements)</p>
                        }
                    </div>
                    @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">
                        <i class="bi bi-info-circle"></i>
                        </a>*@
                </div>
            </div>
        </a>
    }

</div>